@font-face {
    font-family: introFont;
    src: url(../font/KohSantepheap-Regular.ttf);
  }
.Container{
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    width: fit-content;
    margin-left: 2%;
    margin-right: 2%;
    padding: 1%;
    height: fit-content;
    /* margin-left: 1%; */
    text-align: center;
    margin-bottom: 1%;
    font-family: introFont;
    background: lavender;
}
.ContainerPost{
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  width: fit-content;
  margin-left: 2%;
  margin-right: 2%;
  padding: 1%;
  height: fit-content;
  /* margin-left: 1%; */
  text-align: center;
  margin-bottom: 1%;
  font-family: introFont;
  background: lavender;
}
.top5{
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    /* width: fit-content; */
    margin-left: 20%;
    margin-right: 20%;
    padding: 1%;
    text-align: center;
    margin-bottom: 1%;
    font-family: introFont;
    background: lavender;
}
.bar{
    width: 700px;
    margin-left: 20%;
    margin-right: 20%;
}
a {
    color: rgb(93, 93, 187);
    text-decoration: none;
  }

.header{
    font-family: introFont;
    text-align: center;
    background: lightslategrey;
    padding: 1%;
    color: white;
}
.button {
    background-color: white;
    color: #555555;
    border: 2px solid #555555;
    padding: 1%;
    font-weight: bold;
    margin-left: 1%;
  }
  
  .button:hover {
    background-color: #555555;
    color: white;
    font-weight: bold;
  }

  @media only screen and (max-width: 600px) {
    .Container {
      margin-right: 1%;
      margin-left: 1%;
    }
    .top5{
      margin-right: 10%;
      margin-left: 10%;
    }
    .bar {
      margin-right: 10%;
      margin-left: 10%;
    }
  }
  